body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
    overflow-x: hidden; /* Impede rolagem horizontal */
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 20px auto; /* Centraliza horizontalmente */
    max-width: 90%; /* Responsivo para telas menores */
}

h1 {
    margin-bottom: 20px;
}

#searchInput {
    width: 80%;
    padding: 10px;
    margin: 0 auto 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

#resultsList {
    list-style-type: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 20px;
    width: 100%;
}

#resultsList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#resultsList li:hover {
    background-color: #f0f0f0;
}

#birdInfo {
    font-size: 14px;
    color: #333;
}

#copyButton {
    display: block;
    margin: 10px auto 0 auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#copyButton.copied {
    opacity: 0.7;
}

#alertText {
    color: #007bff;
    font-size: 0.9em;
    display: none;
}

#birdInfo{
    text-align: left;
