body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#searchInput {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#resultsList {
    list-style-type: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 20px;
}

#resultsList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#resultsList li:hover {
    background-color: #f0f0f0;
}

#birdInfo {
    font-size: 14px; /* Tamanho de fonte menor para dispositivos móveis */
    color: #333;
}

.container {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#copyButton {
    display: block;
    margin: 10px auto; /* Centraliza o botão */
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#alertText {
    color: #007bff; /* Azul */
    font-size: 0.9em; /* Tamanho menor */
    display: none; /* Ocultar por padrão */
}
